body {
    background-color: #aadcec;
    color: black;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-family:sans-serif;

}

h2 {
    font-weight: bolder;
    font-family:sans-serif;
    font-size: 30px;
    margin: 5px;
    margin-bottom: 30px;

}

#banner {
    font-size: 60px;
    padding: 0px;
    margin: 10px;
    margin-top: 30px;
}
#banner-container {
    display:flex;
    justify-content: center;

}

p {
    margin: 20px 15px;
}

#paragraph2 {
    border: 3px solid green;
    background-color: white;
    padding: 30px;
    max-width: 50%;
    line-height: 30px;
    margin: 25px;
}

.blue {
    background-color: #000080;
    color: white;
    border: 3px solid #9cc3d0;
    padding: 20px 25px;
    margin: 20px 10px;
    line-height: 1.6;
}

ol {
    list-style: none;
    padding-left: 0;
    margin-left: 10px;
    counter-reset: item;
}

ol li {
    font-size: 20px;
    font-family: serif;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 8px;
    background-color: #f2f2f2;
}

th, td {
    border: 1px solid black;
    padding: 6px 10px;
    text-align: left;
}

th {
    font-weight: bold;
    background-color: #d9d9d9;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-family: serif;
    margin-left: 5px;
    margin-bottom: 10px;
}

section a {
    color: red;
}
