* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial;
    align-items: stretch;
    min-height: 100vh;
}

#jumpMenu {
    background-color: #daa520;
    font-family: serif;
    min-width: 120px;
    width: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    min-height: 100vh;
    height: auto;
    text-align: center;
}

#jumpMenu h2 {
    font-size: 35px;
    padding-top: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}

#jumpMenu a {
    color: #585492;
    font-size: 20px;
    font-weight: bold;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header > p {
    background-color: #ff0000;
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 12px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    min-height: 70px;

}

header nav button {
    flex: 1;
    background-color: blue;
    color: white;
    border: none;
    padding: 14px;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    max-width: 20%;
    border-style: outset;
    border-width: 2px;
    border-color: rgb(84, 83, 83);
    min-width: 20%;
}

h1 {
    text-align: center;
    margin: 20px 0px;
    font-size: 36px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    font: serif;
    gap: 20px;
    flex: 1;
}

#container article {
    flex: 1 1 45%;
    min-width: 280px;
    padding: 10px 20px;
}

#container article h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

#container article p {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

#thanks {
    background-color: lightblue;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    padding: 18px 30px;
    margin: 20px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

footer {
    background-color: orange;
    padding: 18px;
    text-align: center;
    margin-top: auto;
}

footer p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

footer address {
    font-size: 16px;
}

footer address div {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 16px;
}

footer address a {
    color: navy;
}

@media (min-width: 1200px) {
    #container article {
        flex: 1 1 20%;
        min-width: 220px;
    }
}

@media (max-width: 768px) {
    #container article {
        flex: 1 1 100%;
    }
}
